
Final Project/Assets/Proyecto Final/Scenses/PAU/EffectsPrefabs/aa.mat
Final Project/Assets/Proyecto Final/Scenses/PAU/EffectsPrefabs/aa.mat.meta
Final Project/Assets/Proyecto Final/Victor/Texturas/Suelo/.mayaSwatches/SUeloNormal02.png_hcm.swatch
Final Project/Assets/Proyecto Final/Victor/Texturas/Suelo/.mayaSwatches/Color.png_hcm.swatch
Final Project/Assets/Proyecto Final/Victor/Texturas/Props/Grilletes/.mayaSwatches/lambert1_Base_Color.png_hcm.swatch
Final Project/Assets/Proyecto Final/Victor/Texturas/Props/Estanteria/.mayaSwatches/lambert1_Base_Color.png_hcm.swatch
Final Project/Assets/Proyecto Final/Victor/Texturas/Pared/.mayaSwatches/New_Graph_basecolor.png_hcm.swatch
Final Project/Assets/Proyecto Final/Victor/Texturas/Celdas/.mayaSwatches/lambert1_Base_Color.png_hcm.swatch
Final Project/Assets/Proyecto Final/Victor/Texturas/Personajes/Tai/.mayaSwatches/lambert2SG_Base_Color.png_hcm.swatch
Final Project/Assets/Proyecto Final/Victor/Texturas/Pared/.mayaSwatches/New_Graph_normal.png_hcm.swatch
Final Project/Assets/Proyecto Final/Victor/Texturas/Personajes/Zombie/.mayaSwatches/initialShadingGroup_Base_Color.png_hcm.swatch
Final Project/Assets/Proyecto Final/Scenses/PAU/Blood 1/BloodDemo.unity.meta
Final Project/Assets/Proyecto Final/Scenses/PAU/Blood 1/BloodDemo.unity
Final Project/Assets/Proyecto Final/Musica/SoundEffects/Serbian Medieval Battle Horn 8.wav
